*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.App {
  
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgb(177, 8, 255),rgb(238, 53, 255));
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60%;
  height: 80%;
  background-image: linear-gradient(rgb(238, 53, 255),rgb(177, 8, 255));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.upr {
  width: 75%;
  height: 10%;
  background-image: linear-gradient(rgb(238, 101, 250),rgb(177, 8, 255));
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.showlist {
  width: 75%;
  height: 85%;
  background-image: linear-gradient(rgb(177, 8, 255),rgb(229, 24, 248));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.inpt {
  width: 15rem;
  height: 2rem;
  background-image: linear-gradient(rgb(160, 40, 240),rgb(255, 8, 214));
  border: none;
  border-radius: 3px;
}

.btn {
  width: 4rem;
  height: 2rem;
  color: rgb(252, 155, 231);
  border: none;
  font-weight: 750;
  border-radius: 3px;
  background-image: linear-gradient(rgb(160, 40, 240),rgb(255, 8, 214));
}

.urs{
  width: 9rem;
  height: 1.95rem;
  background-image: linear-gradient(rgb(160, 40, 240),rgb(255, 8, 214));
  border-radius: 5px;
  color: rgb(87, 22, 107);
  font-weight: 700;
  padding: 0.5rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.list {
  
  display: flex;
  gap: 10px;
}

.btns {
  width: 4rem;
  height: 2rem;
  color: rgb(105, 10, 93);
  border: none;
  font-weight: 750;
  border-radius: 3px;
  background-image: linear-gradient(rgb(160, 40, 240),rgb(255, 8, 214));
}